*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style: none;
}

ul{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.5s all;
} 

a:hover{
    color: red;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
